<!-- views/partials/header.ejs -->

<ul class="topnav">
    <li><a href="/login">Login</a></li>
    <li><a href="/">Home</a></li>
    <li><a href="/train">Train</a></li>
    <li><a href="/newWord">Words</a></li>
    <li class="right"><a href="/logout">LogOut</a></li>
</ul>