<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    <link rel="stylesheet" type="text/css" href="../public/css/styles.css">
    
</head>

<body>
    <% include ./partials/header %>
    <div class="content">
        <br>
        <br>
        <div class="indexContainer">
            <h1 style="margin-bottom: 5%">Welcome <%=user.name %></h1>
            <div style="display: flex; flex-direction: row; justify-content: space-evenly">
                <a class="trainButton" href="/train">Train</a>
                <br>
                <a class="newWordButton" href="/newWord">New Words</a>
            </div>
        </div>
    </div>
    <% include ./partials/footer %>
</body>
</html>