<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../public/css/styles.css">
</head>

<body>
    <h1>Register</h1>
    <br>
    <form action="/register" method="post">
        <input type="text" name="name" placeholder="Name">
        <br>
        <input type="email" name="email" placeholder="Email">
        <br>
        <input type="password" name="password" placeholder="Password" autocomplete="on">
        <br>
        <input type="password" name="confirmpass" placeholder="Confirm Password" autocomplete="on">
        <br>
        <button type="submit">Submit</button>
    </form>
</body>

</html>