<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../public/css/styles.css">
    <title>Training Page</title>
</head>
<body>
    <div class="back">
        <a href="/" class="backLink">Back</a>
    </div>
    <br>
    <h1 class="h1Train">Ready to Train?</h1>
    <br>
    <form action="/spanish/train" method="POST">
        <div class="flipCard">
            <div class="flipCardInner">
                <textarea class="flipCardFront" rows="10" cols="50"><%= translatedWord.translation %></textarea>
                <textarea class="flipCardBack" rows="10" cols="50" hidden="on"><%= translatedWord.word %></textarea>
            </div>
        </div>
        <br>
        <input type="hidden" name="answer" value="<%=translatedWord.word%>">
        <input type="hidden" name="hiddenWord" value="<%=translatedWord.id%>">
        <input type="text" name="inputWord" placeholder="Answer">
        <br>
        <button type="submit">Enter</button>
    </form>

</body>
</html>