<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Training Page</title>
</head>
<body>
    <h1>Ready to Train?</h1>
    <br>
    <!-- flashcard for the translated word -->
    <form>
        <textarea rows="4" cols="50">WORD</textarea>
        <br>
        <input type="text" name="inputWord" value="inputWord" placeholder="Word to Be translated">
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>