<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../public/css/styles.css">
    <title>Training Page</title>
</head>
<body>
    <div class="back">
        <a href="/" class="backLink">Back</a>
    </div>
    <br>
    <h1 class="h1Train">Ready to Train?</h1>
    <br>
    <form>
        <textarea rows="4" cols="50">WORD</textarea>
        <br>
        <input type="text" name="inputWord" value="inputWord" placeholder="Word to Be translated">
        <br>
        <button type="submit">Enter</button>
    </form>
</body>
</html>