* {
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    --darkgreen:  #007E26;
    --lightgreen: #00B938;
    --red: rgb(255, 56, 56);
    --blue: rgb(95, 95, 255);
    --yellow: #ffc600;
}

h1 {
    margin-bottom: 0;
}

input {
    border: 1px solid var(--darkgreen);
    border-radius: 2px;
    padding: 10px;
    margin: 5px;
    width: 250px;
    text-align: left;
}

button {
    border: 1px solid var(--lightgreen);
    border-radius: 3px;
    padding: 5px;
    width: 100px;
    margin-top: 5px;
    background-color: var(--lightgreen);
    color: white;
    cursor: pointer;
}

.register {
    border: 1px solid var(--darkgreen);
    border-radius: 3px;
    padding: 5px;
    width: 100px;
    margin-top: 5px;
    background-color: var(--darkgreen);
}

.logoutDiv {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 50px;
    margin-top: 20px;
}

.logoutButton {
    justify-content: flex-end; 
}

.indexContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 80px;
}

.trainButton, .newWordButton {
    padding: 5px;
    text-decoration: none;
    background-color: var(--darkgreen);
    color: white;
    border-radius: 2px;
    padding: 10px;
    width: 100px;
}

.trainButton {
    margin-right: 30px;
}

.newWordButton {
    margin-left: 30px;
}

.back {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    margin-top: 20px;
}

.backLink {
    justify-content: flex-start; 
}

.h1Train {
    flex-wrap: nowrap;
    justify-content: center;
    height: 0;
}

.flipCardFront {
    margin-top: 40px;
    border: 1px solid var(--darkgreen);
    border-radius: 2px;
    padding-top: 20px;
    font-size: 20px;
    width: 500px;
    height: 200px;
    text-align: center;
}


table{
    margin: 20px auto;
    border-collapse: collapse;
    width: 300px;
}

tr:nth-child(even){
    background-color: rgba(0, 126, 38, 0.274);
}
th{
    background-color: var(--darkgreen);
    color: white;
    border: 1px solid var(--darkgreen);
    padding: 8px;
}
td{
    padding: 8px;
    border: 1px solid var(--darkgreen);
    padding: 8px;
}

.table-container{
    justify-content: center;
    text-align: center;
    
    align-content: center;
}

.label{
    display: block;
}

progress {
    border-radius:1em;
    width: 400px;
    height: 10px;
    overflow: hidden;
}

progress::-moz-progress-bar {
    background: rgb(95, 95, 255);
}

progress::-webkit-progress-value {
    background: rgb(95, 95, 255);
}

progress::-webkit-progress-bar {
    background: rgb(230, 230, 230);
}

.redProgressBar::-webkit-progress-value{
    background: var(--red);
}
.redProgressBar::-moz-progress-bar{
    background: var(--red);
}

.greenProgressBar::-webkit-progress-value{
    background: var(--lightgreen);
}
.greenProgressBar::-moz-progress-bar{
    background: var(--lightgreen);
}

.yellowProgressBar::-webkit-progress-value{
    background: var(--yellow);
}
.yellowProgressBar::-moz-progress-bar{
    background: var(--yellow);
}