* {
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    --darkblue:  rgb(72, 72, 192);
    --lightblue: rgb(111, 111, 255);
    --lighterblue: rgba(111, 111, 255, 0.582);
    --lightgreen: #00B938;
    --red: rgb(255, 56, 56);
    --yellow: #ffc600;
}

h1 {
    margin-bottom: 0;
}

input, select {
    border: 1px solid var(--darkblue);
    border-radius: 2px;
    padding: 10px;
    margin: 5px;
    width: 250px;
    text-align: left;
}

button {
    border: 1px solid var(--lightblue);
    border-radius: 3px;
    padding: 5px;
    width: 100px;
    margin-top: 5px;
    background-color: var(--lightblue);
    color: white;
    cursor: pointer;
}

.loginPage, .registerPage {
    display: flex;
    justify-content: center;
}

.languageSelection {
    flex-direction: column;
}

.register {
    border: 1px solid var(--darkblue);
    border-radius: 3px;
    padding: 5px;
    width: 100px;
    margin-top: 5px;
    background-color: var(--darkblue);
}

.logoutDiv {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 50px;
    margin-top: 20px;
}

.logoutButton {
    justify-content: flex-end; 
}

.indexContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 80px;
}

.trainButton, .newWordButton {
    padding: 5px;
    text-decoration: none;
    background-color: var(--darkblue);
    color: white;
    border-radius: 2px;
    padding: 10px;
    width: 100px;
}

.trainButton {
    margin-right: 30px;
}

.newWordButton {
    margin-left: 30px;
}

.back {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    margin-top: 20px;
}

.backLink {
    justify-content: flex-start; 
}

.h1Train {
    flex-wrap: nowrap;
    justify-content: center;
    height: 0;
}

form {
    text-align: -webkit-center;
}

.flipCard {
    margin-top: 40px;
    height: 300px;
    perspective: 5000px;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
}

.card {
    margin-left: auto;
    width: 50%;
    /* height: 100%; */
    position: absolute;
    transition: transform 1s;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transform-style: preserve-3d; 
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
}

.card div {
    /* height: 100%; */
    width: 50%;
    /* line-height: 260px; */
    line-height: 9;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
}

.card .flipCardFront {
    margin-left: 75%;
    height: 20em;
    position: absolute;
    border: 1px solid var(--darkblue);
    background-color: beige;
}

.card .flipCardBack {
    position: relative;
    margin-left: -25%;
    transform: rotateY( 180deg );
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    border: 1px solid var(--darkblue);
    background-color: azure;
}

.card.flipped {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

table{
    margin: 20px auto;
    border-collapse: collapse;
    width: 300px;
}

tr:nth-child(even){
    background-color: var(--lighterblue);
}
th{
    background-color: var(--darkblue);
    color: white;
    border: 1px solid var(--darkblue);
    padding: 8px;
}
td{
    padding: 8px;
    border: 1px solid var(--darkblue);
    padding: 8px;
}

.table-container{
    justify-content: center;
    text-align: center;
    
    align-content: center;
}

.label{
    display: block;
}

progress {
    border-radius:1em;
    width: 400px;
    height: 10px;
    overflow: hidden;
}

progress::-webkit-progress-bar {
    background: rgb(230, 230, 230);
}

.redProgressBar {
    background: var(--red);
}

.yellowProgressBar {
    background: var(--yellow);
}

.greenProgressBar {
    background: var(--lightgreen);
}

.redProgressBar::-webkit-progress-value{
    background: var(--red);
}
.redProgressBar::-moz-progress-bar{
    background: var(--red);
}

.greenProgressBar::-webkit-progress-value{
    background: var(--lightgreen);
}
.greenProgressBar::-moz-progress-bar{
    background: var(--lightgreen);
}

.yellowProgressBar::-webkit-progress-value{
    background: var(--yellow);
}
.yellowProgressBar::-moz-progress-bar{
    background: var(--yellow);
}

.progressDiv {
    margin-top: 2%;
}